:root { 
  --anzac: #ddaf46;
  --carnation: #ee5d5d;
  --casablanca: #f6be43;
  --eerie-black: #1b1b1b;
  --fuel-yellow: #e7aa22;
  --fuscous-gray: #515151;
  --pale-sky: #6b7280;
  --white: #ffffff;
 
  --font-size-l: 22.4px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 24px;
  --font-size-xs: 16px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 48px;
 
  --font-family-helvetica_neue-bold: "Helvetica Neue-Bold", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-pale-sky-16px {
  color: var(--pale-sky);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-casablanca-22px {
  color: var(--casablanca);
  font-family: var(--font-family-poppins);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-fuscous-gray-20px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
